<!DOCTYPE html>
<html>
<head>
    <title>DNS Server Roleplay</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/play">DNS Roleplay Game</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <h1>Handle DNS Request</h1>
    <p><strong>Name:</strong> {{ .Name }}</p>
    <p><strong>Type:</strong> {{ .Type }}</p>
    <p><strong>Class:</strong> {{ .Class }}</p>

    <form action="/submit" method="post">
        <input type="hidden" name="request_id" value="{{ .RequestID }}">
        <label>Select an action:</label><br>
        <input type="radio" name="action" value="correct" required> Correct<br>
        <input type="radio" name="action" value="corrupt"> Corrupt<br>
        <input type="radio" name="action" value="delay"> Delay<br>
        <input type="radio" name="action" value="nxdomain"> NXDOMAIN<br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>